:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #dc3545;
}
body{
  font-family: 'Montserrat', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title, .text-cart{
  font-family: 'Raleway', cursive;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.text-cart {
  font-weight: 900;
}
.cartText {
  margin-top: 5em;
}
@media screen and (max-width: 991px) {
  .cartText {
    margin-top: 2em;
  }
}
.quantity{
  margin: 0 2em;
}
.quantity:hover{
  cursor: pointer;
  color: var(--mainRed);
}
.close {
  float: none !important;
  color:var(--mainRed) !important;
}