:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #cc0000;
}
body{
  font-family: 'Montserrat', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title, .text-cart{
  font-family: 'Raleway', cursive;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.text-main{
  color: var(--mainBlue);
}
.text-secondary{
  color: var(--lightBlue);
}
.text-cart {
  font-weight: 900
}